.info{
    text-align: center;
    margin-top: 50px;
}

#floor_num{
    line-height: 20px;
    height: 20px;
}

#lift_num{
    line-height: 20px;
    height: 20px;
}

#submit{
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}

.lift-area{
    width: 90%;
    margin: auto;
}

hr{
    border-style: none;
    background-color: black;
    height: 3px;
    width: 93%;
    margin-left: 6%;
    margin-top:5px;
}

p{
    font-weight: bold;
    text-align: left;
    margin-top: 0;
}

.left{
    width: 80%;
    margin-top: 3px;
}

.right{
    width: 20%;
    margin: auto;
}

.floor-big-div{
    width : 80%;
    display: flex;
    height: 10px;
    margin: auto;
}


.buttons-n-lift{
    width: 80%;
    display: flex;
    margin: auto;
    height: 120px;
}

.button-div{
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    margin-top: 5%;
    min-width: 48px;
}

.down{
    font-weight: bold;
    background-color: #ffcc00;
    border-radius: 19%;
    border : none;
    min-height: 22px;
    min-width: 48px;
}

.up{
    font-weight: bold;
    background-color: green;
    border-radius: 19%;
    border : none;
    min-height: 22px;
    min-width: 35px;
}


.lift{
    min-width: 80px;
    background-color: pink;
    height: 110px;
    margin-left: 10%;
    border: 4px solid black;
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.lift-div{
    width: 70%;
    display: flex;
}

.single-button-down{
    padding-top: 14%;
}

.single-button-up{
   height: 100%;
}

.lift_area{
    /*height: 18vh;*/
    height: 120px;
    width: 95%;
    margin: auto;
}

form{
    margin-bottom: 70px;
}

.door{
    height: 100%;
    width: 49%;
    border: 0.5px solid black;
    background-color: #1bbabf;
    float: left;
}

@media (max-width: 600px){
    .lift{
        min-width: 50px;
        background-color: pink;
        height: 90px;
        margin-left: 10%;
        border: 4px solid black;
        margin-top: 33px;
        display: flex;
        overflow: hidden;
    }

}

@media (max-width: 300px){
    .lift{
        min-width: 30px;
        background-color: pink;
        height: 60px;
        margin-left: 10%;
        border: 4px solid black;
        margin-top: 63px;
        display: flex;
        overflow: hidden;
    }
}
